html{
    
}
body{
    background-color:antiquewhite;
    overflow-y: scroll;
}


h5, .navbar p{
    color: white;
}

nav{
    background-color: black ;
    display: flex;
    gap: 20px;

}

footer{
    width: auto;
}
.footer-nav p{
    color: white;
}

.my-name, .about-me, .my-skills, .my-project, .contact {
    display: flex;
    margin-bottom: 2%;
    justify-content: center;
}

.titre-about-me{
    text-align: center;
}


